* {box-sizing: border-box; }

body, html {
  max-width: 100%;
   overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
  color: #333;
  padding: 20px;
  font-weight: lighter;
  text-align: center;
  background-color:#F4F4F4 !important;
  min-height:100vh; 
  position:relative; 
}

header{
  background-color:#4ABDAC;
  height:40px;
  color:#4ABDAC;
}

footer{
  background-color:#4ABDAC;
  position: absolute; 
  left: 0 ; 
  right: 0;
  bottom: 0; 
  padding-top: 15px !important;
  margin-top: 15px !important;
}

hr{
  border-top:3px solid #FC4A1A !important;
  clear:both;
}
h1, h2, h3, h4, h5, h6{
  font-weight: lighter;
  padding: 0;
  margin: 0;
  text-align:center;
}

a{
color:#333333;
}

a:link, a:visited{
  outline: 0;
  color:#333333;
}

a:focus, a:active, a:hover{
  color:#FC4A1A !important;
}

li{
  list-style-type: none;
  display:inline;
}

h1{
  margin-top:40px !important;
  margin-top:20px !important;
}

#graph{
  max-width:400px;
  padding-right:60px;
}

#graphHR{
  margin-top:0px;
}
#mainTitle{
  font-size:49px;
}
.form-control{
  border:2px solid #F7B733 !important;
}

#hero{
  margin-top:90px;
}

.form-group{
  margin-bottom:50px !important;
}

.btn-default{
 border:2px solid #F7B733 !important;
 background-color: #F7B733 !important;
}

.btn-primary{
  color: #333333 !important;
  background-color: #F7B733 !important;
  border-color: #F7B733 !important;
}

.radio input[type=radio], .radio-inline input[type=radio]{
  margin-left: -34px !important;
}

.radio label {
  padding-left: 37px !important;
}

.radio{
  margin-top:20px !important;
}

#main-container{
  text-align: left;
  padding: 20px;
  padding-bottom:100px !important;
}

#list-container{
  width: calc(100% - 40px);
  max-width: 700px;
  padding: 10px;
  margin-bottom:20px;
  margin-right: auto;
  margin-left: auto;
}

.poll-item{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
#vote-input {
  width: calc(100% - 40px);
  max-width: 700px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:140px;
}

#ballot{
  margin-bottom:140px;
}

svg{
  width:calc(100% - 40px);
}

#chart{
  width:calc(100% - 40px);
  height:auto;
  margin-top:25px;
  margin-bottom:100px;
}

#js-btn-create-poll{
  margin-top: 10px;
  padding: 20px 64px;
}

input, button{
  border: 1px #333 solid;
  height: 30px;
  padding: 0 10px;
  font-size: 13px;
  display: inline-block;
  float: left;
  outline: none;
}

input{
  width: calc(100% - 80px);
}

button{
  background: #333;
  width: 80px;
  color: rgb(60, 210, 180);
}

/* Typography */
h1{
  font-size: 42px;
}

.body-main {
  font-size: 26px;
}

.body-aux {
  width: 100px;
  font-size: 13px;
}

.poll-item {
  font-size: 34px;
}

.list-container {
  height:auto;
  margin: 0px;
}

.vote-item {
  width: 100%;
  margin: 10px 0px;
}


/*d3.js*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 105%;
  vertical-align: baseline;
  font-family:  'Josefin Sans', sans-serif;
  font-weight: inherit;
}


.bar{
  fill:#F7B733;
}

text.label{
  font-size: 20px;
  font-weight: bold;
}

text.category{
  font-size: 20px;
}

@media only screen and (min-width: 990px){
  #heroText{
    float:right;
  }
}
